@import "reset";
@import "mixins";
.navbar{
  &.navbar-default{
    background-color: #99cc33;
    border: none;
    .navbar-header{
      .region-navigation{
        .logo.navbar-btn{
          display: none;
        }
      }
    }
  }
}
