@import "reset";
@import "mixins";
.main-container{
  .row{
    .col-sm-12{
      .region-content{
        padding: 20px;
        background: #66ccff;
        .page-header{
            @include fontz(20px,22px,600,normal,#ffffff);
            text-align: center;
        }
        .ar-arform{
          .form-group{
            .control-label{
              @include fontz(20px,22px,600,normal,#ffffff);
            }
          }
          .form-submit{
            margin-top: 15px;
          }
        }
      }
    }
  }
}
